name: Post JSON File to Two URLs

on:
  push:
    branches:
      - main # Runs only when pushing to the main branch
  workflow_dispatch: # Allows manual trigger

jobs:
  post_json:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        
      - name: Send JSON Data to First URL
        run: |
          curl -X POST "https://:Nkss69ScRzCSqXMZg4i2iw@eu.tandem.autodesk.com/api/v1/timeseries/models/urn:adsk.dtm:4TYXEm1qQvKfROWfpiTp2A/streams/AQAAANitSBSZBkiLm-8PYN6uuL0AAAAA" \
              -H "Content-Type: application/json" \
              -d @stream.json
              
      - name: Send JSON Data to Second URL
        run: |
          curl -X POST "https://:7sW4-EWxQAKQ8zjkck-Vxw@eu.tandem.autodesk.com/api/v1/timeseries/models/urn:adsk.dtm:4TYXEm1qQvKfROWfpiTp2A/streams/AQAAAGmhyc86tkIDv7_RGI7bvwMAAAAA" \
              -H "Content-Type: application/json" \
              -d @stream.json
